<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <title>todo</title>

</head>

<body>
    <p>ToDolist</p>
    <form action="{{url_for('todo.index')}}" method="POST" novalidate="novalidate">
        {{form.csrf_token}}
        <p>{{form.todo.label}}{{form.todo(placeholder="todo")}}</p>
        {% for error in form.todo.errors %}
        <span style="color: red;">{{error}}</span>
        {% endfor %}
        <p>{{ form.submit() }}</p>
    </form>
    <table>
        <tr>
            <th>ToDo</th>
        </tr>
            {% for task in tasks %}
        <tr>
            
            <td>
                {{task.todo}}
                <form action="{{url_for('todo.delete', id = task.id)}}" method = "POST">
                    {{form.csrf_token}}
                    <input type="submit" value='Done!'>
                </form>
            </td>
        </tr>
            {% endfor %}
    </table>

</body>

</html>